<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/css/index.css" type="text/css" rel="stylesheet">
    <title>로그인창</title>
</head>
<body>
    <form id="login-form" method="POST" action="./login">
        <h1>웹 CCTV 영상 관제</h1>
        <input type="text" placeholder="아이디" name="id" id="id">
        <input type="password" placeholder="패스워드" name="pw" id="pw">
        <input type="submit" value="로그인" id="login-btn">
    </form>
</body>
</html>